<section class="polaroid-profile container-fluid" #captureEl>

    @if (!isAuthed()) {
    <div class="blur-mask"></div>
    <div class="auth-overlay">
        <h3>ورود/ثبت‌نام</h3>
        <p>با نداشتن حساب کاربری ,نمیتونی از تمام قابلیت های تهرانمون استفاده کنی !</p>
        <button class="btn-primary" (click)="openAuth('login')">ورود یا ثبت‌نام</button>
    </div>
    }

    <section class="paper board-wrap" [class.blurred]="!isAuthed() ">

        <div class="board d-flex flex-column">
            @for (category of categories; track $index) {
            <div class="board-row d-flex flex-row  flex-nowrap w-100 mt-2" style="height: 100%;gap:5px">
                <button class="slot ms-4" (click)="openTile(category.title??'دسته بندی')"
                    style="box-shadow: none ;outline: none;">
                    <img class="thumb m-auto" [src]="category.poster" [alt]="category.title??'دسته بندی'">
                </button>
                @for (fav of Favorites(category.catId); track $index) {
                <button class="slot" (click)="openTile(fav.name??'دسته بندی')">
                    <img class="thumb" [src]="category.poster" [alt]="fav.name??'دسته بندی'">
                    <span class="caption">{{ fav.name??'دسته بندی' }}</span>
                </button>
                }
            </div>
            }

        </div>

        <div class="paper-footer justify-content-center">
            <img class="sticker" src="images/tehran.png" alt="تهران">
            <div class="nameplate">
                <i class="user-ico"></i>
                <span class="uname">{{ userName() || 'کاربر' }}</span>
            </div>
            <div style="display:flex; gap:8px; margin-inline-start:12px;" data-no-capture>
                <button type="button" class="btn-primary" (click)="downloadPanel()">دانلود</button>
                <button type="button" class="btn-ghost" (click)="sharePanel()">اشتراک‌گذاری</button>
            </div>
        </div>
    </section>

</section>